/* #gameBoard {
    background-color: "red";
    border: "solid"
} */



#gameBoard{
    border-collapse :'collapse';
    /* border: solid #000;
    border-width: 5px; */
} 



/* .row{
    background-color:green;
} */

td{
    border: solid;
    border-width: 1px;
    width:30px;
    height:30px;
} 



td.firsty{
    border-left-color: black;
    border-left-width: 4px;
} 



td.middley{
    border-left-color: black;
    border-left-width: 4px;
}

td.lasty{
    border-right-color: black;
    border-right-width: 4px;
}  

.firstx td{

    border-top-color: black;
    border-top-width: 4px;
}  

.middlex td{
    border-top-color: black;
    border-top-width: 4px;
}

.lastx td {
    border-bottom-color: black;
    border-bottom-width: 4px;
} 








/* remember css use '' not "" */


